
body {
		
	background:	#DEDEDE;
		
}

#maincenter {
	
	width: 40%;	
	height: 20%;
	margin: 20% auto 0 auto;	
	text-align: center;
	min-width: 150px;
	max-width: 250px;
	border: 1px solid rgba(0,0,0,0.2);
	background: #F3F3F3;
	padding: 30px 75px 30px 75px ;

	
}

#main {

	width: 100%;
	padding; 10px;
	background: #FFFFFF;
	font-size: 30px;
	border: 1px solid rgba(0,0,255, 0.3);
	outline: none;
}

#main:focus {

	border: 1px solid rgba(0,0,255, 0.6);
}

.admin {
	text-align: center;
}

#maincenteradmin {
	padding: 20px;
	margin: 50px 20% 50px 20%;
	background: #F3F3F3;	
}

li:nth-child(odd) {
	background: #dcdcFF;
}

li:nth-child(even) {
	background: #F5F5EC;
}

li {
	padding: 7px;		
}

li > input {
	display: inline-block;
	float: right;
}

li > input:hover { 
    cursor: pointer;
}

input[type="file"]:hover {
	cursor: pointer;	
}
